body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.jumbotron {
  background-color: white;
}

.box {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}
.box .form-signin-heading,
.box .form-login-heading,
.box .checkbox {
  margin-bottom: 10px;
}
.box .checkbox {
  font-weight: normal;
}
.box .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.box .form-control:focus {
  z-index: 2;
}

.form-signin input[name="password"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -2px;
}

.form-signin input[name="password-repeat"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}

.box-bottom {
  margin-top: 40px;
}
.row {
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-control[readonly="readonly"] {
  cursor: auto;
}
.row div {
  margin-bottom: 10px;
}
.pre-code {
  color: #C7254E;
}